<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Book Tickets</h1>   
    <label>Select Theatre:</label>
    <select name='theatres' id='theatres'>
        <option value="selecttheatre">Select Theatre</option>
    </select>
    <label>Select Movie : </label>
    <select name='movies' id='m'>
        <option value="selectmovie">Select Movie</option>
    </select>
    <label>Select Date : </label>
    <select id="date">
        <option value="selectdate">Select Date</option>
    </select>
    <label>Select Time : </label>
    <select id="time">
        <option value="selecttime">Select Time</option>
    </select>
    <button id="view">View Seating Plan</button>

    <script src='/public/js/client/jquery-3.3.1.min.js'></script>
    <script src="/public/js/client/booktickets.js"></script>
</body>

</html>

